@use '../../styles/variables' as vars;

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;

    .contact-header {
        font-size: 2rem;
        font-weight: bold;
        color: white;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
        margin-bottom: 1.5rem;
        text-align: left;
        padding-left: 0rem;
    }

    .top-row {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        .left-box {
            flex: 1;
            padding: 1rem;
            background-color: vars.$secondary-color;
            border-radius: 1rem;

            .form-row {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 200px;

                label {
                    margin-bottom: 0.5rem;
                }

                input,
                textarea {
                    padding: 0.5rem;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background-color: white;
                    color: black;
                }
            }

            .optional {
                font-size: 0.8rem;
                font-style: italic;
                color: #666;
            }

            .submit-button {
                margin-top: 1rem;
                align-self: flex-start;
                padding: 0.75rem 1.5rem;
                background-color: vars.$primary-color;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: vars.$accent-color;
                    color: vars.$primary-color;
                }
            }
        }

        .right-box {
            flex: 1;
            background-color: vars.$secondary-color;
            padding: 1rem;
            border-radius: 1rem;
            color: #fff;

            h3, h4 {
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 0rem;
            }

            .social-icons {
                display: flex;
                flex-direction: column; 

                a {
                    color: #fff;
                    font-size: 1rem;

                    &:hover {
                        color: vars.$primary-color;
                    }
                }
            }
        }
    }
}

    