// These are the icon colors for the tech tools
$color-js: #f7df1e;
$color-react: #61dafb;
$color-vue: #42b883;
$color-html: #e34f26;
$color-css: #1572B6;
$color-sass: #cf649a;
$color-less: #b84592;
$color-bootstrap: #7952b3;
$color-aspnet: #512bd4;
$color-csharp: #178600;
$color-ef: #00758f;
$color-rest: #6366f1;
$color-sql: #cc2927;
