
// Color Palette
$background-color: #2B4A6F;
$primary-color: #051C38;
$secondary-color: #143153;
$accent-color: #4B688B;
$text-color: #ffffff;
$link-hover-color: lighten($primary-color, 10%);

// Fonts
$font-primary: 'Georgia', serif;
$font-size-base: 16px;

// Other
$box-shadow-default: 0 4px 12px rgba(0, 0, 0, 0.25);